<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<!-- - - - - - - - - - - H - E - A - D - - - - - - - - - - - - -->
<head th:replace="~{fragments :: head}"></head>
<body>


<!-- - - - - - - - - - - M - E - N - U - - - - - - - - - - - - -->
<header th:replace="~{fragments :: header}">

</header>
<!-- - - - W - Y - S - Z - U - K - I - W - A - R - K - A - - - -->
<nav th:replace="~{fragments :: search}"></nav>
<br><br>

<!--Z - A - W - A - R - T - O - Ś - Ć - - S - T - R - O - N - Y-->

<main>

    <section class="container card-panel orange darken-4" style="margin-bottom: 20px">
        <div id="steps_1" class="steps active-step">WERYFIKACJA POLISY</div>
        <div id="steps_2" class="steps inactive-step">REJESTRACJA ROSZCZENIA</div>
        <div id="steps_3" class="steps inactive-step">PODJĘCIE DECYZJI</div>
    </section>

    <BR>
    <!--Sekcja wyszukiwania polisy po numerze polisy -->
    <section id="search_data" th:if="${policy.client == null}" class="container card-panel green lighten-5"
             style="margin-bottom: 20px">
        <span class="flow-text grey-text text-darken-2">ABY ZAREJESTROWAĆ SZKODĘ SPRAWDŹ CZY UBEZPIECZONY POSIADA POLISE:</span>
        <form id="policyNumberSearchForm">
            <div class="row" style="margin-bottom: 1px">
                <div class="input-field col s12 m6 l3">
                    <i class="material-icons prefix">badge</i>
                    <label for="policyNumberSearch">NUMER POLISY</label>
                    <input type="text" id="policyNumberSearch" name="policyNumberSearch">
                    <span class="helper-text" data-error="Numer polisy musi mieć 10 liter"></span>
                </div>
                <div class="input-field col s12 m6 l3">
                    <button class="btn waves-effect waves-light" type="submit">SPRAWDŹ</button>
                </div>
                <div id="claimsMessageContainer" class="card-panel red lighten-4" style="display: none;">
                    <span id="messageText" class="red-text text-darken-4"></span>
                </div>
            </div>
        </form>
    </section>

    <form th:action="@{/claim}" th:object="${claim}" method="post">

        <section id="claim_data" class="container card-panel grey lighten-5">
            <span class="flow-text grey-text text-darken-2">DANE POLISY</span>
            <!-- sekcja 1 -->
            <!-- ZAWARTOŚĆ CZĘŚCI POLISOWEJ -->
            <section th:fragment="claim_policy_data">
                <!-- ============= L - I - N - I - A - 1 ============= - -->
                <div class="row">
                    <!-- POLISA -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">policy</i>
                        <label for="policyNumber">POLISA</label>
                        <input type="text" id="policyNumber" name="policyNumber" required class="validate" readonly
                               th:value="${claims != null && policy.policyNumber !=null ? policy.policyNumber : ''}"
                               th:disabled="${claims != null && policy.policyNumber != null}">
                    </div>

                    <!-- POLISA -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">policy id</i>
                        <label for="policyID">POLISA</label>
                        <input type="text" id="policyID" name="policyID" required class="validate" readonly
                               th:value="${claims != null && policy.id !=null ? policy.id : ''}"
                               th:disabled="${claims != null && policy.id != null}">
                    </div>

                    <!-- D - A - T - A - - Z - A - W - A - R - C - I - A -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">calendar_month</i>
                        <label for="startDate">DATA ZAWARCIA</label>
                        <input type="text" id="startDate" name="startDate" required class="validate" readonly
                               th:value="${claims != null && policy.startDate !=null ? policy.startDate : ''}"
                               th:disabled="${policy != null && policy.startDate != null}">
                    </div>

                    <!-- - - - D - A - T - A - - K - O - Ń - C - A - - - -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">event_repeat</i>
                        <label for="endDate">DATA WYGAŚNIĘCIA</label>
                        <input type="text" id="endDate" name="endDate" required class="validate" readonly
                               th:value="${policy != null ? policy.endDate : ''}"
                               th:disabled="${policy != null && policy.endDate != null}">
                    </div>

                    <div class="label-select col s12 m6 l3">
                        <label for="policyStatus">STATUS POLISY</label>
                        <select id="policyStatus" name="policyStatus">
                            <i class="material-icons prefix">personal_injury</i>
                            <option value="" disabled selected>STATUS POLISY</option>
                            <option th:each="status : ${policyStatus}" th:value="${status}"
                                    th:text="${status}">
                            </option>
                        </select>
                    </div>

                </div>
            </section>

            <!-- sekcja 2 -->
            <!-- ZAWARTOŚĆ STRONY -->
            <section th:fragment="claim_data">

                <!-- ============= L - I - N - I - A - 1 ============= - -->
                <div class="row">


                    <!--             &lt;!&ndash; NUMER ROSZCZENIA &ndash;&gt;
                                 <div class="input-field col s12 m6 l3">
                                     <i class="material-icons prefix">newspaper</i>
                                     <label for="id">ID ROSZCZENIA</label>
                                     <input type="text" id="id" name="id" class="validate" readonly
                                            th:value="${claims != null ? claims.id : ''}"
                                            th:disabled="${claims != null && claims.id != null}">
                                 </div>-->


                    <!-- NUMER ROSZCZENIA -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">newspaper</i>
                        <label for="claimsNumber">NUMER ROSZCZENIA</label>
                        <input type="text" id="claimsNumber" name="claimsNumber" class="validate" readonly
                               th:value="${claims != null ? claims.claimNumber : ''}"
                               th:disabled="${claims != null && claims.claimNumber != null}">
                    </div>

                    <!-- DATA REJESTRACJI ROSZCZENIA -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">calendar_month</i>
                        <label for="claimRegistrationDate">DATA REJESTRACJI ROSZCZENIA</label>
                        <input type="text" id="claimRegistrationDate" name="claimRegistrationDate" required
                               class="validate"
                               th:value="${claims != null ? claims.claimRegistrationDate : ''}"
                               th:disabled="${claims != null && claims.claimRegistrationDate != null}">
                    </div>

                    <!-- DATA ROSZCZENIA -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">calendar_month</i>
                        <label for="claimDate">DATA ROSZCZENIA</label>
                        <input type="text" id="claimDate" name="claimDate" required class="datepicker validate"
                               th:value="${claims != null ? claims.claimDate : ''}"
                               th:disabled="${claims != null && claims.claimDate != null}">
                    </div>


                    <!--     &lt;!&ndash; PRODUKT UBEZPIECZENIOWY &ndash;&gt;
                                <div class="input-field col s12 m6 l3">
                                    <i class="material-icons prefix">calendar_month</i>
                                    <label for="products">PRODUKT UBEZPIECZENIOWY</label>
                                    <input type="text" id="products" name="products" required class="datepicker validate"
                                           th:value="${claims != null && policy.insuranceProduct.productName != null ? policy.insuranceProduct.productName : ''}"
                                           th:disabled="${claims != null && policy.insuranceProduct != null}">
                                </div>-->

                    <!--            &lt;!&ndash; - - - - - P - R - O - D - U - K - T - - - - - &ndash;&gt;
                                <div class="label-select col s12 m6 l3">
                                    <label for="insuranceProduct">PRODUKT UBEZPIECZENIOWY</label>
                                    <select id="insuranceProduct" name="insuranceProduct" required th:disabled="${policy.insuranceProduct != null}">
                                        <option value="" disabled selected>PRODUKT UBEZPIECZENIOWY</option>
                                        <option th:each="product : ${products}" th:value="${product.id}"
                                                th:text="${product.productName}"
                                                th:selected="${product.id == (policy.insuranceProduct != null ? policy.insuranceProduct.id : -1)}">
                                        </option>
                                    </select>
                                </div>-->







                </div>

                <div class="row">
                    <!-- OPIS ROSZCZENIA -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">description</i>
                            <textarea id="description" name="description" data-length="500" class="materialize-textarea"
                                      required validate
                                      th:text="${claims != null ? claims.description : ''}"
                                      th:disabled="${claims != null && claims.description != null}"></textarea>
                            <label for="description">OPIS ROSZCZENIA</label>
                        </div>
                    </div>
                </div>
                <div class="row">


                    <div class="label-select col s12 m6 l3">
                        <label for="decision">Decyzja</label>
                        <select id="decision" name="decision" required>
                            <option value="" disabled selected>Wybierz decyzję</option>
                            <option th:each="decision : ${decisions}"
                                    th:value="${decision}" th:text="${decision}"
                                    th:selected="${decision} == ${claims.decision}"></option>
                        </select>
                    </div>


                    <!-- Status Roszczenia -->
                    <div class="label-select col s12 m6 l3">
                        <label for="claimStatus">STATUS ROSZCZENIA</label>
                        <select id="claimStatus" name="claimStatus" required>
                            <option value="" disabled selected>Wybierz status</option>
                            <option th:each="status : ${statuses}"
                                    th:value="${status}" th:text="${status}"
                                    th:selected="${status} == ${claims.claimStatus}"></option>
                        </select>
                    </div>


                </div>
                <!-- Przycisk Zatwierdź -->
                <div class="input-field col s12 m6 l3">
                    <button class="btn waves-effect waves-light" type="submit" name="action">ZAREJESTRUJ SZKODĘ
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </section>

        </section>
    </form>
</main>

<!-- - - - - - - - - S - T - O - P - K - A - - - - - - - - - - -->
<footer th:replace="~{fragments :: footer}"></footer>

<!-- - - P - Ł - Y - W - A - J - Ą - C - Y  -  - P - R - Z - Y - C - I - S - K - - -->
<div th:replace="~{fragments :: floating_btn}"></div>

<!-- - - - - - - - - S - K - R - Y - P - T - Y - - - - - - - - -->
<div th:replace="~{fragments :: script_js}"></div>

</body>
</html>