<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- - - - - - - - - - - H - E - A - D - - - - - - - - - - - - -->
<head th:replace="~{fragments :: head}">
    <meta charset="UTF-8">
    <title>FORMULARZ SZKÓD</title>
</head>
<body>


<!-- - - - - - - - - - - M - E - N - U - - - - - - - - - - - - -->
<header th:replace="~{fragments :: header}">

</header>
<!-- - - - W - Y - S - Z - U - K - I - W - A - R - K - A - - - -->
<nav th:replace="~{fragments :: search}"></nav>
<br><br>

<!--Z - A - W - A - R - T - O - Ś - Ć - - S - T - R - O - N - Y-->

<main>



    <!-- Sekcja etapy procesu szkodowego -->
    <section class="container card-panel red lighten-1" style="margin-bottom: 0">
        <div id="steps_1" class="steps active-step">WERYFIKACJA POLISY</div>
        <div id="steps_2" class="steps" th:classappend="${claims.id != null} ? 'active-step' : 'inactive-step'">
            REJESTRACJA ROSZCZENIA
        </div>
        <div id="steps_3" class="steps" th:classappend="${claims.id != null} ? 'active-step' : 'inactive-step'">PODJĘCIE
            DECYZJI
        </div>
        <div id="steps_4" class="steps"
             th:classappend="${claims.id != null and claims.paymentAmount != null } ? 'active-step' : 'inactive-step'">
            WYPŁATA ODSZKODOWANIA
        </div>
    </section>
    <div class="container card-panel teal">
                <span id="claimVerificationStatus" class="flow-text white-text"
                      th:text="${claims.claimVerificationStatus}"></span>
    </div>

    <div class="next-line"></div>

    <!--Sekcja wyszukiwania polisy po numerze polisy -->
    <section id="search_data" class="container card-panel green lighten-5" th:if="${policy.id == null}"
             style="margin-bottom: 20px">
        <span class="flow-text grey-text text-darken-2">ABY ZAREJESTROWAĆ SZKODĘ SPRAWDŹ CZY UBEZPIECZONY POSIADA POLISE:</span>
        <form id="policyNumberSearchForm">
            <div class="row" style="margin-bottom: 1px">
                <div class="input-field col s12 m6 l3">
                    <i class="material-icons prefix">badge</i>
                    <input type="text" id="policyNumberSearch" name="policyNumberSearch">
                </div>
                <div class="input-field col s12 m6 l3">
                    <button id="policyNumberSearchButton" class="btn waves-effect waves-light" type="submit">SPRAWDŹ</button>
                </div>
                <div id="claimsMessageContainer" class="card-panel red lighten-4" style="display: none;">
                    <span id="messageText" class="red-text text-darken-4"></span>
                </div>
            </div>
        </form>
    </section>


    <form id="claimForm" th:action="${claims.id == null} ? @{/claims} : @{/claims/{id}(id=${claims.id})}"
          th:object="${claims}" method="post">
        <section id="claim_data" th:classappend="${policy.id == null} ? 'hidden' : ''">



            <!-- ZAWARTOŚĆ CZĘŚĆI SZKODOWEJ -->
            <section th:fragment="claim_data" class="container card-panel grey lighten-5">

                <span class="flow-text grey-text text-darken-2">DANE SZKODY</span>

                <!-- ============= L - I - N - I - A - 1 ============= - -->
                <div class="row">

                    <!-- I - D - - S - Z - K - O - D - Y -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">policy id</i>
                        <label for="claimsID" class="red-text">ID SZKODY</label>
                        <input type="text" id="claimsID" name="claimsID" placeholder="ID generowany systemowo" readonly
                               th:field="*{id}">
                    </div>

                    <!-- N - U - M - E - R - - S - Z - K - O - D - Y -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">newspaper</i>
                        <label for="claimNumber" class="red-text">NUMER ROSZCZENIA</label>
                        <input type="text" id="claimNumber" name="claimNumber" placeholder="Numer generowany systemowo"
                               readonly
                               th:field="*{claimNumber}">
                    </div>

                    <!-- D - A - T - A - - R - E - J - E - S - T - R - A - C - J - I -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">calendar_month</i>
                        <label for="claimRegistrationDate">DATA REJESTRACJI ROSZCZENIA</label>
                        <input type="text" id="claimRegistrationDate" name="claimRegistrationDate" required
                               class="validate datepicker" readonly
                               th:field="*{claimRegistrationDate}">
                    </div>

                    <!-- D - A - T - A - - R - O - S - Z - C - Z - E - N - I - A -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">calendar_month</i>
                        <label for="claimDate">DATA ROSZCZENIA</label>
                        <input type="text" id="claimDate" name="claimDate" required class="datepicker validate"
                               th:field="*{claimDate}">
                        <span class="helper-text"
                              data-error="Data roszczenia nie może być późniejsza lub taka sama jak data rejestracji roszczenia."></span>
                    </div>


                </div>

                <!-- ============= L - I - N - I - A - 1 ============= - -->
                <div class="row">
                    <!-- O - P - I - S - - S - Z - K - O - D - Y -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">description</i>
                            <textarea id="description" name="description" data-length="500"
                                      class="materialize-textarea validate" required
                                      th:field="*{description}">
                            </textarea>
                            <label for="description">OPIS ROSZCZENIA</label>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <h6 class="red-text text-darken-2">STATUS DECYZJI:</h6>
                    <div class="next-line"></div>

                    <!-- S - T - A - T - U - S - - S - Z - K - O - D - Y -->
                    <div class="label-select col s12 m6 l3">
                        <label for="claimStatus">STATUS ROSZCZENIA</label>
                        <select id="claimStatus" th:field="*{claimStatus}" required
                                th:disabled="${policy.id == null or claims.claimStatus.name() == 'ODRZUCONE' or claims.claimStatus.name() == 'WYPŁACONE' or claims.claimStatus.name() == 'ZAMKNIĘTE'}">
                            <option th:each="status : ${statuses}" th:value="${status.name()}"
                                    th:text="${status}"></option>
                        </select>
                        <input type="hidden" th:field="*{claimStatus}" th:value="${claims.claimStatus.name()}"/>
                    </div>

                    <!-- D - E - C - Y - Z - J - A -->
                    <div class="label-select col s12 m6 l3" th:if="${claims.id != null}">
                        <label for="decision">DECYZJA</label>
                        <select id="decision" th:field="*{decision}" required
                                th:disabled="${policy.id == null or claims.decision.name() == 'AKCEPTACJA' or claims.decision.name() == 'ODMOWA'}">
                            <option value="" disabled selected>Wybierz decyzję</option>
                            <option th:each="decision : ${decisions}" th:value="${decision}"
                                    th:text="${decision}"></option>
                        </select>
                        <input type="hidden" th:field="*{decision}" th:value="${claims.decision}"/>
                    </div>

                    <div class="input-field col s12 m6 l3" th:if="${claims.id != null}">
                        <i class="material-icons prefix">payments</i>
                        <label for="paymentAmount">KWOTA DO WYPŁATY ROSZCZENIA</label>
                        <input type="text" id="paymentAmount" name="paymentAmount" class="validate" readonly
                               pattern="^\d+(\.\d{1,2})?$" placeholder="Kwota definiowana przy płatności"
                               th:field="*{paymentAmount}">
                        <span class="helper-text" data-error="Wprowadź poprawną kwotę (np. 123.45)"></span>
                        <span id="payment_amount-currency-label" class="currency-label">zł</span>
                    </div>

                    <div class="input-field col s12 m6 l3" th:if="${claims.id != null}">
                        <i class="material-icons prefix">calendar_month</i>
                        <label for="paymentDate">DATA WYPŁATY ROSZCZENIA</label>
                        <input type="text" id="paymentDate" name="paymentDate" placeholder="Data ustawiana przy płatności"
                               class="validate" readonly
                               th:field="*{paymentDate}">
                    </div>

                    <!-- Modal do wprowadzenia danych wypłaty -->
                    <div id="paymentModal" class="modal">
                        <div class="modal-content">
                            <div class="row">
                                <h4>Wypłata roszczenia</h4>
                                <div class="card-panel teal">
                                    <span class="white-text">Wypłata nie może przewyższać wartości pozostałej rezerwy.
                                        W przypadku gdy inna szkoda wykorzysta pule rezerwy nie będzie możliwa wypłata odszkodowania.
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <!-- Dodatkowe pola do wykonania akcji -->
                                <div class="input-field col s12 m6 l5" th:if="${claims.id != null}">
                                    <i class="material-icons prefix">payments</i>
                                    <label for="paymentAmountModal">KWOTA ODSZKODOWANIA</label>
                                    <input type="text" id="paymentAmountModal" name="paymentAmountModal" class="validate"
                                           pattern="^\d+(\.\d{1,2})?$">
                                    <span class="helper-text" data-error="Wprowadź poprawną kwotę (np. 123.45)"></span>
                                    <span id="payment-amount-modal-currency-label" class="currency-label">zł</span>
                                </div>

                                <div class="input-field col s12 m6 l3">
                                    <label for="coverageAmountModal">SUMA UBEZPIECZENIA</label>
                                    <input type="text" id="coverageAmountModal" name="coverageAmountModal" class="validate" readonly
                                           th:field="*{policy.coverageAmount}">
                                </div>

                                <div class="input-field col s12 m6 l4">
                                    <label for="reserveAmountModal">POZOSTAŁA WARTOŚĆ REZERWY</label>
                                    <input type="text" id="reserveAmountModal" name="reserveAmountModal" class="validate" readonly
                                           th:field="*{policy.reserveAmount}">
                                </div>
                            </div>

                        </div>

                            <div class="row">
                                <div class="modal-footer">
                                    <button type="button" class="modal-close btn waves-effect waves-light">Anuluj</button>
                                    <button type="submit" class="btn waves-effect waves-light">Zatwierdź</button>
                                </div>
                            </div>

                    </div>


                </div>

                <BR>
                <div class="row">
                        <section class="input-field col" th:if="${claims.id == null}">
                            <button class="btn waves-effect waves-light" type="submit">ZAPISZ SZKODĘ
                                <i class="material-icons right">send</i>
                            </button>
                        </section>
                        <section class="input-field col" th:if="${claims.id != null}">
                            <button class="btn waves-effect waves-light" type="submit">ZAKTUALIZUJ SZKODĘ
                                <i class="material-icons right">send</i>
                            </button>
                        </section>


                        <section th:if="${claims.paymentAmount == null and claims.decision.name() == 'AKCEPTACJA'}" class="input-field col" id="paymentButtonContainer">
                            <button type="button" class="btn waves-effect waves-light modal-trigger"
                                    data-target="paymentModal">Wypłać roszczenie
                                    <i class="material-icons right">money</i>
                            </button>
                        </section>
                    </div>
                </div>


            </section>
            <div class="next-line"></div>
            <!-- sekcja 2 -->
            <!-- ZAWARTOŚĆ CZĘŚCI POLISOWEJ -->
            <section th:fragment="claim_policy_data" class="container card-panel grey lighten-5">
                <span id="policyStatus" class="flow-text grey-text text-darken-2"
                      th:text="'DANE POLISY: ' + ${policy.policyStatus}"></span>

                <!-- ============= L - I - N - I - A - 1 ============= - -->
                <div class="row">

                    <!-- I - D - - P - O - L - I - S - Y -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">policy id</i>
                        <label for="policyId">ID POLISY</label>
                        <input type="text" id="policyId" name="policyId" th:field="*{policy.id}" required
                               class="validate" readonly>
                    </div>

                    <!-- N - U - M - E - R - - P - O - L - I - S - Y -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">policy</i>
                        <label for="policyNumber">NUMER POLISY</label>
                        <input type="text" id="policyNumber" name="policyNumber" th:field="*{policy.policyNumber}"
                               required class="validate" readonly>
                    </div>

                    <!-- D - A - T - A - - Z - A - W - A - R - C - I - A -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">calendar_month</i>
                        <label for="startDate">DATA ZAWARCIA POLISY</label>
                        <input type="text" id="startDate" name="startDate" required class="validate" readonly
                               th:field="*{policy.startDate}">
                    </div>

                    <!-- - - - D - A - T - A - - K - O - Ń - C - A - - - -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">event_repeat</i>
                        <label for="endDate">DATA WYGAŚNIĘCIA POLISY</label>
                        <input type="text" id="endDate" name="endDate" required class="validate" readonly
                               th:field="*{policy.endDate}">
                    </div>
                </div>


                <div class="row">

                    <!-- S - K - Ł - A - D - K - A - - P -O - L - I - S - Y -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">payments</i>
                        <label for="premium">SKŁADKA POLISY</label>
                        <input type="text" id="premium" name="premium" required class="validate" readonly
                               pattern="^\d+(\.\d{1,2})?$"
                               th:field="*{policy.premium}">
                        <span class="helper-text" data-error="Wprowadź poprawną kwotę (np. 123.45)"></span>
                        <span id="premium-currency-label" class="currency-label">zł</span>
                    </div>


                    <!-- S - U - M - A - - U - B - E - Z - P - I - E - C - Z - E - N - I - A -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">paid</i>
                        <label for="coverageAmount">SUMA UBEZPIECZENIA</label>
                        <input type="text" id="coverageAmount" name="coverageAmount" required class="validate" readonly
                               pattern="^\d+(\.\d{1,2})?$"
                               th:field="*{policy.coverageAmount}">
                        <span class="helper-text" data-error="Wprowadź poprawną kwotę (np. 123.45)"></span>
                        <span id="coverageAmount-currency-label" class="currency-label">zł</span>
                    </div>
                    <!-- - - - - - - - - - - R - E - Z - E - R - W - A - - - - - - - - - - -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">savings</i>
                        <label for="reserveAmount">REZERWA UBEZPIECZENIOWA</label>
                        <input type="text" id="reserveAmount" name="reserveAmount" required class="validate"
                               pattern="^\d+(\.\d{1,2})?$"
                               th:field="*{policy.reserveAmount}">
                        <span class="helper-text" data-error="Wprowadź poprawną kwotę (np. 123.45)"></span>
                        <span id="reserveAmount-currency-label" class="currency-label">zł</span>
                    </div>

                    <!-- - - - - - - - - - - P - R - O - D - U - K - T - - - - - - - - - - -->
                    <div class="label-select col s12 m6 l3">
                        <label for="insuranceProduct">PRODUKT UBEZPIECZENIOWY</label>
                        <input type="text" id="insuranceProduct" name="insuranceProduct" required readonly
                               th:field="*{policy.insuranceProduct.productName}">
                    </div>
                </div>

                <div class="row">
                    <p class="grey-text text-darken-2">
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;Ryzyka:</b>
                    </p>
                    <div id="riskList">
                        <div th:if="${policy.insuranceProduct != null and policy.insuranceProduct.risks != null}">
                            <div class="chip" th:each="risk : ${policy.insuranceProduct.risks}">
                                <i class="material-icons">
                                    <span th:text="${risk.iconName}">flood</span>
                                </i>
                                <span th:text="${risk.riskName}">ZALANIE</span>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <div class="next-line"></div>
            <!-- sekcja 3 -->
            <!-- ZAWARTOŚĆ CZĘŚCI DANYCH KLIENTA -->
            <section th:fragment="claim_policy_client_data" class="container card-panel grey lighten-5">

                <span class="flow-text grey-text text-darken-2">DANE UBEZPIECZONEGO</span>

                <!-- ======== L - I - N - I - A - 4 : KLIENT ========= - -->
                <div class="row">

                    <!-- - I - M - I - Ę - - K - L - I - E - N - T - A - -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">person</i>
                        <label for="firstName">IMIE UBEZPIECZONEGO</label>
                        <input type="text" id="firstName" name="firstName" required class="validate" readonly
                               pattern="^[a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ]+$"
                               th:field="*{policy.client.firstName}">
                        <span class="helper-text" data-error="Imię powinno składać się tylko z liter"></span>
                    </div>

                    <!-- - - - - - N - A - Z - W - I - S - K - O - - - - - -->

                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">person</i>
                        <label for="lastName">NAZWISKO UBEZPIECZONEGO</label>
                        <input type="text" id="lastName" name="lastName" required class="validate" readonly
                               pattern="^[a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ]+$"
                               th:field="*{policy.client.lastName}">
                        <span class="helper-text" data-error="Nazwisko powinno składać się tylko z liter"></span>
                    </div>

                    <!-- - - - - - - - - P - E - S - E - L - - - - - - - --->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">badge</i>
                        <label for="pesel">PESEL UBEZPIECZONEGO</label>
                        <input type="text" id="pesel" name="pesel" required class="validate" readonly
                               pattern="^\d{11}$"
                               data-length="11"
                               th:field="*{policy.client.pesel}">
                        <span class="helper-text" data-error="PESEL powinnien składać się tylko z 11 cyfr"></span>
                    </div>

                    <!-- D - A - T - A - - U - R - O - D - Z - E - N - I - A -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">calendar_month</i>
                        <label for="dateOfBirth">DATA URODZENIA</label>
                        <input type="text" id="dateOfBirth" name="dateOfBirth" required class="datepicker validate" readonly
                               th:field="*{policy.client.dateOfBirth}">
                    </div>
                </div>
                <!-- ==== KONIEC:  L - I - N - I - A - 4 ============= - -->

                <!-- ======== L - I - N - I - A - 5 : KLIENT ========= - -->
                <div class="row">

                    <!-- A - D - R - E - S - - E - M - A - I - L -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">alternate_email</i>
                        <label for="emailAddresss">ADRES EMAIL</label>
                        <input type="email" id="emailAddresss" name="email" required class="validate" readonly
                               th:field="*{policy.client.email}">
                        <span class="helper-text" data-error="Wprowadź poprawny adres email"></span>
                    </div>

                    <!-- N - U - M - E - R - - T - E - L - E - F - O - N - U -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">phone</i>
                        <label for="mobileNumber">NUMER TELEFONU</label>
                        <input type="tel" id="mobileNumber" name="mobileNumber" required class="validate" readonly
                               th:field="*{policy.client.mobileNumber}">
                        <span class="helper-text" data-error="Wprowadź poprawny numer telefonu (9 cyfr)"></span>
                    </div>

                    <!-- M - I - A - S -T - O  - Z - A - M - I - E - S - Z - K - A - N - I -A -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">location_city</i>
                        <label for="city">MIASTO ZAMIESZKANIA</label>
                        <input type="text" id="city" name="city" required class="validate" readonly
                               th:field="*{policy.client.address.city}">
                        <span class="helper-text" data-error="Wprowadź miasto zamieszkania ubezpieczonego"></span>
                    </div>

                    <!-- - - - - - - K - O - D - - -P - O - C - Z - T - O -W - Y - - - - - - -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">pin</i>
                        <label for="zipcode">KOD POCZTOWY</label>
                        <input type="text" id="zipcode" name="zipcode" required class="validate" readonly
                               th:field="*{policy.client.address.zipcode}">
                        <span class="helper-text" data-error="Wprowadź  kod pocztowy"></span>
                    </div>

                </div>
                <!-- ==== KONIEC:  L - I - N - I - A - 5 ============= - -->

                <!-- ===== L - I - N - I - A - 6 : KLIENT.ADRES ====== - -->
                <div class="row">

                    <!-- - - - N - A - Z - W - A - - U - L - I - C - Y - - - -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">edit_road</i>
                        <label for="street">NAZWA ULICY</label>
                        <input type="text" id="street" name="street" required class="validate" readonly
                               th:field="*{policy.client.address.street}">
                        <span class="helper-text" data-error="Wprowadź poprawną nazwe ulicy"></span>
                    </div>

                    <!-- - - - N - U - M - E - R - - U - L - I - C - Y - - - -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">signpost</i>
                        <label for="streetNo">NUMER BUDYNKU</label>
                        <input type="text" id="streetNo" name="streetNo" required class="validate"
                               th:field="*{policy.client.address.streetNo}">
                        <span class="helper-text" data-error="Wprowadź poprawny numer ulicy"></span>
                    </div>

                    <!-- N - U - M - E - R - - M - I - E - S - Z - K - A - N - I - A -->
                    <div class="input-field col s12 m6 l3">
                        <i class="material-icons prefix">signpost</i>
                        <label for="apartmentNo">NUMER MIESZKANIA</label>
                        <input type="text" id="apartmentNo" name="apartmentNo" class="validate" readonly
                               th:field="*{policy.client.address.apartmentNo}">
                        <span class="helper-text" data-error="Wprowadź poprawny numer mieszkania"></span>
                    </div>
                </div>

            </section>

        </section>
    </form>
</main>

<!-- - - - - - - - - S - T - O - P - K - A - - - - - - - - - - -->
<footer th:replace="~{fragments :: footer}"></footer>

<!-- - - P - Ł - Y - W - A - J - Ą - C - Y  -  - P - R - Z - Y - C - I - S - K - - -->
<div th:replace="~{fragments :: floating_btn}"></div>

<!-- - - - - - - - - S - K - R - Y - P - T - Y - - - - - - - - -->
<div th:replace="~{fragments :: script_js}"></div>

</body>
</html>