<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}">
</head>
<body>


<header th:replace="~{fragments :: header}">
</header>
<nav th:replace="~{fragments :: search}"></nav>
<br><br>


<main class="main-content">
    <h3><span class="teal-text text-lighten-2 center-align">Work in progress...</span></h3>
</main>

<footer th:replace="~{fragments :: footer}"></footer>
<div th:replace="~{fragments :: floating_btn}"></div>
<div th:replace="~{fragments :: script_js}"></div>

</body>
</html>
