<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<!-- - - - - - - - - - - H - E - A - D - - - - - - - - - - - - -->
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bezpieczna przyszłość</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="stylesheet" href="../static/styles/styles.css" th:href="@{/styles/styles.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
<!-- - - - - - - - - - - M - E - N - U - - - - - - - - - - - - -->
<header th:fragment="header">

    <!-- - - - - - - - P - O - D - - - M - E - N - U - - - - - - - -->
    <ul id="policy_dropdown" class="dropdown-content">
        <li><a href="/policies" th:href="@{/policies}">LISTA POLIS</a></li>
        <li><a href="/policy" th:href="@{/policy}">FORMULARZ POLISOWY</a></li>
        <li><a href="/import" th:href="@{/import}">IMPORT POLIS<span class="badge">WIP</span></a></li>
    </ul>
    <ul id="policy_dropdown_mobile" class="dropdown-content">
        <li><a href="/policies" th:href="@{/policies}">LISTA POLIS</a></li>
        <li><a href="/policy" th:href="@{/policy}">FORMULARZ POLISOWY</a></li>
        <li><a href="/import" th:href="@{/import}">IMPORT POLIS</a></li>
    </ul>

    <ul id="claims_dropdown" class="dropdown-content">
        <li><a href="/view_claims" th:href="@{/view_claims}">SEKCJA SZKÓD</a></li>
        <li><a href="/claim" th:href="@{/claims/new}">FORMULARZ SZKODOWY</a></li>
        <li><a href="/claims_list" th:href="@{/claims}">LISTA SZKÓD</a></li>
    </ul>
    <ul id="claims_dropdown_mobile" class="dropdown-content">
        <li><a href="/view_claims" th:href="@{/view_claims}">SEKCJA SZKÓD</a></li>
        <li><a href="/claims/new" th:href="@{/claims/new}">FORMULARZ SZKODOWY</a></li>
        <li><a href="/claims" th:href="@{/claims}">LISTA SZKÓD</a></li>
    </ul>

    <!-- - - - - - - N - A - W - I - G - A - C - J - A - - - - - - -->
    <nav>
        <div class="nav-wrapper">
            <a href="#" th:href="@{/}" class="brand-logo">
                <img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="Logo"
                     style="height: 50px; vertical-align: middle; margin: 0 0 10px 10px">
                <span>Bezpieczna przyszłość</span>
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">

                <li>
                    <a class="dropdown-trigger" href="/policies" th:href="@{/policies}" data-target="policy_dropdown">
                        POLISY
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>

                <li>
                    <a class="dropdown-trigger" href="/claims" th:href="@{/claims}" data-target="claims_dropdown">
                        SZKODY
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>

                <li><a href="/products" th:href="@{/products}">PRODUKTY</a></li>
                <li><a href="/clients" th:href="@{/clients}">KLIENT<span class="badge">WIP</span></a></li>
                <li><a href="/login" th:href="@{/login}">ZALOGUJ SIĘ<span class="badge">WIP</span>
                </a></li>
            </ul>
        </div>
    </nav>

    <!-- N - A - W - I - G - A - C - J - A - - - M - O - B - I - L - N - A -->
    <ul class="sidenav" id="mobile-demo">
        <li>
            <a class="dropdown-trigger" href="/policies" th:href="@{/policies}" data-target="policy_dropdown_mobile">
                POLISY
                <i class="material-icons right">arrow_drop_down</i>
            </a>
        </li>

        <li>
            <a class="dropdown-trigger" href="/claims" th:href="@{/claims}" data-target="claims_dropdown_mobile">
                SZKODY
                <i class="material-icons right">arrow_drop_down</i>
            </a>
        </li>

        <li><a href="/products" th:href="@{/products}">PRODUKTY</a></li>
        <li><a href="/clients" th:href="@{/clients}">KLIENT</a></li>
        <li><a href="/login" th:href="@{/login}">ZALOGUJ SIĘ</a></li>
    </ul>

</header>

<!-- - - - W - Y - S - Z - U - K - I - W - A - R - K - A - - - -->
<nav th:fragment="search">
    <div class="nav-wrapper teal darken-1 m-6">
        <form>
            <div class="input-field">
                <input id="search" type="search" required
                       placeholder="Wyszukaj po numerze polisy, szkody lub po numerze PESEL klienta">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>

<!-- - - - - - - - - S - T - O - P - K - A - - - - - - - - - - -->
<footer th:fragment="footer">
    <p>&copy; 2024 Bezpieczna Przyszłość. Arkadiusz Borkowski. Prosty projekt systemu zawierania ubezpieczeń i
        rejestracji szkód. Wszelkie
        prawa zastrzeżone.</p>
</footer>

<!-- - - P - Ł - Y - W - A - J - Ą - C - Y  -  - P - R - Z - Y - C - I - S - K - - -->
<div th:fragment="floating_btn" class="fixed-action-btn" style="bottom: 100px; right: 24px;">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
        <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
</div>

<!-- - - - - - - - - S - K - R - Y - P - T - Y - - - - - - - - -->

<div th:fragment="script_js">

    <!-- SEKCJA PREZENTACJA DANYCH PRODUKTÓW by https://materializecss.com/collapsible.html -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems);
        });
    </script>

    <!-- SEKCJA NAWIGACJI by https://materializecss.com/navbar.html -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
            var dropdowns = document.querySelectorAll('.dropdown-trigger');
            M.Dropdown.init(dropdowns, {coverTrigger: false});
        });
    </script>

    <!-- SEKCJA SZYBKI DOSTĘP (prawy dolny róg) by https://materializecss.com/floating-action-button.html -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.fixed-action-btn');
            var instances = M.FloatingActionButton.init(elems, {
                direction: 'left',
                hoverEnabled: false
            });
        });
    </script>

    <!-- SEKCJA ZAKŁADKI () by https://materializecss.com/floating-action-button.html -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.tabs');
            var instances = M.Tabs.init(elems, {
                swipeable: true
            });
        });
    </script>

    <!-- SEKCJA WALIDACJI DAT I WYBORU DATY by https://materializecss.com/ -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            M.FormSelect.init(elems);

            var dateElems = document.querySelectorAll('.datepicker');
            M.Datepicker.init(dateElems, {
                format: 'yyyy-mm-dd'
            });
        });
    </script>

    <!-- SEKCJA WALIDACJI DŁUGOŚCI POLA by https://materializecss.com/ -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('input[data-length], textarea[data-length]');
            M.CharacterCounter.init(elems);
        });
    </script>


    <!-- SEKCJA DYNAMICZNEJ LISTY- ODNOŚNIKI WIERSZY  by https://materializecss.com/ -->
  <!--  <script>
        function rowClicked(value) {
            location.href = "/policy/" + value;
        }
    </script>-->

    <script>
        function rowClicked(element) {
            var url = element.getAttribute("data-url");
            location.href = url;
        }
    </script>

    <!-- ZACZYTYWANIE KLIENTA DO SEKCJI POLISY, STYL KOUMNIKATÓW -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('peselSearchForm');
            form.addEventListener('submit', async function (event) {
                event.preventDefault();
                const pesel = document.getElementById('peselSearch').value;

                try {
                    const response = await fetch(`/client/search?pesel=${pesel}`);
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                        showMessage('Klient nie został odnaleziony. Dane klienta nie zostały zastąpione.', 'red');
                    }
                    const data = await response.json();
                    document.getElementById('firstName').value = data.firstName;
                    document.getElementById('lastName').value = data.lastName;
                    document.getElementById('pesel').value = data.pesel;
                    document.getElementById('dateOfBirth').value = data.dateOfBirth;
                    document.getElementById('emailAddresss').value = data.email;
                    document.getElementById('mobileNumber').value = data.mobileNumber;
                    document.getElementById('city').value = data.address.city;
                    document.getElementById('zipcode').value = data.address.zipcode;
                    document.getElementById('street').value = data.address.street;
                    document.getElementById('streetNo').value = data.address.streetNo;
                    document.getElementById('apartmentNo').value = data.address.apartmentNo;

                    // Aktualizacja etykiet
                    M.updateTextFields();
                    showMessage(`Klient ${data.firstName} ${data.lastName} został odnaleziony. Dane klienta zostały zastąpione.`, 'green');
                } catch (error) {
                    console.error('There was a problem with the fetch operation:', error);
                    showMessage('Klient nie został odnaleziony. Dane klienta nie zostały zastąpione.', 'red');
                    //alert('Klient nie został odnaleziony. Dane klienta nie zostały zastąpione.');
                }
            });

            function showMessage(message) {
                const messageContainer = document.getElementById('messageContainer');
                const messageText = document.getElementById('messageText');
                messageText.textContent = message;
                messageContainer.style.display = 'block';
            }

            function showMessage(message, color) {
                const messageContainer = document.getElementById('messageContainer');
                const messageText = document.getElementById('messageText');
                messageText.textContent = message;
                messageContainer.className = `card-panel ${color} lighten-4`;
                messageText.className = `${color}-text text-darken-4`;
                messageContainer.style.display = 'block';
            }
        });
    </script>

    <!-- ZACZYTYWANIE POLISY DO SEKCJI SZKÓD, STYL KOUMNIKATÓW -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('policyNumberSearchForm');
            form.addEventListener('submit', async function (event) {
                event.preventDefault();
                const policyNumber = document.getElementById('policyNumberSearch').value;

                try {
                    const response = await fetch(`/checkPolicyNumber?policyNumber=${policyNumber}`);
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                        showMessage('Polisa nie została odnaleziona.', 'red');
                    }
                    const data = await response.json();
                    document.getElementById('policyId').value = data.id;
                    document.getElementById('policyNumber').value = data.policyNumber;
                    document.getElementById('startDate').value = data.startDate;
                    document.getElementById('endDate').value = data.endDate;
                    document.getElementById('premium').value = data.premium;
                    document.getElementById('coverageAmount').value = data.coverageAmount;
                    document.getElementById('reserveAmount').value = data.reserveAmount;
                    document.getElementById('insuranceProduct').value = data.insuranceProduct.productName;
                    document.getElementById('policyStatus').textContent = data.policyStatus ? `DANE POLISY: ${data.policyStatus}` : 'DANE POLISY: ';

                    //get client
                    document.getElementById('firstName').value = data.client.firstName;
                    document.getElementById('lastName').value = data.client.lastName;
                    document.getElementById('pesel').value = data.client.pesel;
                    document.getElementById('dateOfBirth').value = data.client.dateOfBirth;
                    document.getElementById('emailAddresss').value = data.client.email;
                    document.getElementById('mobileNumber').value = data.client.mobileNumber;
                    document.getElementById('city').value = data.client.address.city;
                    document.getElementById('zipcode').value = data.client.address.zipcode;
                    document.getElementById('street').value = data.client.address.street;
                    document.getElementById('streetNo').value = data.client.address.streetNo;
                    document.getElementById('apartmentNo').value = data.client.address.apartmentNo;


                    //get risk
                    const riskList = document.getElementById('riskList');

                    // Clear existing risks
                    if (riskList) {
                        riskList.innerHTML = '';

                        // Add new risks
                        data.insuranceProduct.risks.forEach(risk => {
                            const riskChip = document.createElement('div');
                            riskChip.classList.add('chip');
                            riskChip.innerHTML = `
                        <i class="material-icons">
                            <span>${risk.iconName}</span>
                        </i>
                        <span>${risk.riskName}</span>
                    `;
                            console.log('Created risk chip:', riskChip); // Log utworzona lista ryzyk
                            riskList.appendChild(riskChip);
                        });
                    } else {
                        console.error('riskList element not found');
                    }


                    // Aktualizacja etykiet
                    M.updateTextFields();
                    showMessage(`Polisa o numerze:  ${data.policyNumber} zawarta przez  ${data.client.firstName} ${data.client.lastName} została odnaleziona. Dane z polisy zostaną zaczytane.`, 'green');

                    // Pokaż sekcję claim_data
                    document.getElementById('claim_data').style.display = 'block';
                    document.getElementById('search_data').style.display = 'none';
                    // Zmień kroki w formularzu
                    document.getElementById('steps_2').classList.remove('inactive-step');
                    document.getElementById('steps_2').classList.add('active-step');


                } catch (error) {
                    console.error('There was a problem with the fetch operation:', error);
                    showMessage('Polisa nie została odnaleziona. Utwórz lub zaimportuj polisę by utworzyć szkodę.', 'red');
                }
            });

            function showMessage(message, color) {
                M.toast({html: message, classes: `${color} rounded`});
            }
        });
    </script>

    <!-- ZACZYTYWANIE PRODUKTÓW DO SEKCJI FORMULARZA POLISOWEGO -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const productSelect = document.getElementById('insuranceProduct');
            const riskCounter = document.getElementById('riskCounter');
            const riskList = document.getElementById('riskList');

            console.log('riskList element:', riskList); // Log elementu riskList

            productSelect.addEventListener('change', function () {
                const productId = this.value;
                console.log('Selected product ID:', productId); // Log wybrany produkt ID
                fetch(`/insuranceProduct/${productId}/risks`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log('Fetched risks:', data); // Log dopasowane ryzyka
                        // Update risk counter
                        riskCounter.value = data.length;

                        // Clear existing risks
                        if (riskList) {
                            riskList.innerHTML = '';

                            // Add new risks
                            data.forEach(risk => {
                                const riskChip = document.createElement('div');
                                riskChip.classList.add('chip');
                                riskChip.innerHTML = `
                                <i class="material-icons">
                                    <span>${risk.iconName}</span>
                                </i>
                                <span>${risk.riskName}</span>
                            `;
                                console.log('Created risk chip:', riskChip); // Log utworzona lista ryzyk
                                riskList.appendChild(riskChip);
                            });
                        } else {
                            console.error('riskList element not found');
                        }
                    })
                    .catch(error => console.error('Error fetching risks:', error));
            });
        });
    </script>

</div>

</body>
</html>