<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- - - - - - - - - - - H - E - A - D - - - - - - - - - - - - -->
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bezpieczna przyszłość</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="stylesheet" href="../static/styles/styles.css" th:href="@{/styles/styles.css}">
    <script src="../static/script/script.js" th:src="@{/script/script.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
<!-- - - - - - - - - - - M - E - N - U - - - - - - - - - - - - -->
<header th:fragment="header">

    <!-- - - - - - - - P - O - D - - - M - E - N - U - - - - - - - -->
    <ul id="policy_dropdown" class="dropdown-content">
        <li><a href="/policies" th:href="@{/policies}">LISTA POLIS</a></li>
        <li><a href="/policy" th:href="@{/policy}">FORMULARZ POLISOWY</a></li>
        <li><a href="/import" th:href="@{/import}">IMPORT POLIS<span class="badge">WIP</span></a></li>
    </ul>
    <ul id="policy_dropdown_mobile" class="dropdown-content">
        <li><a href="/policies" th:href="@{/policies}">LISTA POLIS</a></li>
        <li><a href="/policy" th:href="@{/policy}">FORMULARZ POLISOWY</a></li>
        <li><a href="/import" th:href="@{/import}">IMPORT POLIS</a></li>
    </ul>

    <ul id="claims_dropdown" class="dropdown-content">
        <li><a href="/claim" th:href="@{/claims/new}">FORMULARZ SZKODOWY</a></li>
        <li><a href="/claims_list" th:href="@{/claims}">LISTA SZKÓD</a></li>
    </ul>
    <ul id="claims_dropdown_mobile" class="dropdown-content">
        <li><a href="/claims/new" th:href="@{/claims/new}">FORMULARZ SZKODOWY</a></li>
        <li><a href="/claims" th:href="@{/claims}">LISTA SZKÓD</a></li>
    </ul>

    <ul id="products_dropdown" class="dropdown-content">
        <li><a href="/products" th:href="@{/products}">PRODUKTY</a></li>
        <li sec:authorize="hasAnyRole('ADMIN')">
            <a href="/products/config" th:href="@{/products/config}">KONFIGURACJA PRODUKTÓW</a>
        </li>
    </ul>
    <ul id="products_dropdown_dropdown_mobile" class="dropdown-content">
        <li><a href="/products" th:href="@{/products}">PRODUKTY</a></li>
        <li sec:authorize="hasAnyRole('ADMIN')">
            <a href="/products/config" th:href="@{/products/config}">KONFIGURACJA PRODUKTÓW</a>
        </li>
    </ul>

    <!-- - - - - - - N - A - W - I - G - A - C - J - A - - - - - - -->
    <nav>
        <div class="nav-wrapper">
            <a href="#" th:href="@{/}" class="brand-logo">
                <img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="Logo"
                     style="height: 50px; vertical-align: middle; margin: 0 0 10px 10px">
                <span>Bezpieczna przyszłość</span>
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">

                <li>
                    <a class="dropdown-trigger" href="/policies" th:href="@{/policies}" data-target="policy_dropdown">
                        POLISY
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                //licznik szkód
                <li>
                    <a class="dropdown-trigger" href="/claims" th:href="@{/claims}" data-target="claims_dropdown">
                        SZKODY
                        <span class="badge" th:if="${todayClaimsCount > 0}" th:text="${todayClaimsCount}"></span>
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>

                <li>
                    <a class="dropdown-trigger" href="/products" th:href="@{/products}" data-target="products_dropdown">
                        PRODUKTY
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>

                <li><a href="/info" th:href="@{/info}">O PROJEKCIE<span class="badge">INFO</span></a></li>
                <li>
                    <a href="/login" th:href="@{/login}" sec:authorize="!isAuthenticated()">ZALOGUJ SIĘ</a>
                    <a href="/logout" th:href="@{/logout}" sec:authorize="isAuthenticated()">WYLOGUJ SIĘ</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- N - A - W - I - G - A - C - J - A - - - M - O - B - I - L - N - A -->
    <ul class="sidenav" id="mobile-demo">
        <li>
            <a class="dropdown-trigger" href="/policies" th:href="@{/policies}" data-target="policy_dropdown_mobile">
                POLISY
                <i class="material-icons right">arrow_drop_down</i>
            </a>
        </li>

        <li>
            <a class="dropdown-trigger" href="/claims" th:href="@{/claims}" data-target="claims_dropdown_mobile">
                SZKODY
                <i class="material-icons right">arrow_drop_down</i>
            </a>
        </li>

        <li><a href="/products" th:href="@{/products}">PRODUKTY</a></li>
        <li><a href="/clients" th:href="@{/clients}">KLIENT</a></li>
        <li>
            <a href="/login" th:href="@{/login}" sec:authorize="!isAuthenticated()">ZALOGUJ SIĘ</a>
            <a href="/logout" th:href="@{/logout}" sec:authorize="isAuthenticated()">WYLOGUJ SIĘ</a>
        </li>
    </ul>

</header>

<!-- - - - W - Y - S - Z - U - K - I - W - A - R - K - A - - - -->
<nav th:fragment="search">
    <div class="nav-wrapper teal darken-1 m-6">
        <form>
            <div class="input-field">
                <input id="search" type="search" required
                       placeholder="Wyszukaj po numerze polisy, szkody lub po numerze PESEL klienta">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>

<!-- - - - - - - - - S - T - O - P - K - A - - - - - - - - - - -->
<footer th:fragment="footer">
    <p>&copy; 2024 Bezpieczna Przyszłość. Arkadiusz Borkowski. Prosty projekt systemu zawierania ubezpieczeń i
        rejestracji szkód. Wszelkie
        prawa zastrzeżone.</p>
</footer>

<!-- - - P - Ł - Y - W - A - J - Ą - C - Y  -  - P - R - Z - Y - C - I - S - K - - -->
<div th:fragment="floating_btn" class="fixed-action-btn" style="bottom: 100px; right: 24px;">
    <a class="btn-floating btn-large green">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
        <li><a href="/info" th:href="@{/info}" class="btn-floating red"><i class="material-icons">info</i></a></li>
        <li><a href="/policy" th:href="@{/policy}" class="btn-floating yellow darken-1"><i
                class="material-icons">policy</i></a></li>
        <li><a href="/claims/new" th:href="@{/claims/new}" class="btn-floating green"><i class="material-icons">description</i></a>
        </li>
    </ul>
</div>

<div th:fragment="script_js"></div>

</body>
</html>