<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<!-- - - - - - - - - - - H - E - A - D - - - - - - - - - - - - -->
<head th:replace="~{fragments :: head}"></head>
<body>
<!-- - - - - - - - - - - M - E - N - U - - - - - - - - - - - - -->
<header th:replace="~{fragments :: header}"></header>
<!-- - - - W - Y - S - Z - U - K - I - W - A - R - K - A - - - -->
<nav th:replace="~{fragments :: search}"></nav>
<br><br>

<!--Z - A - W - A - R - T - O - Ś - Ć - - S - T - R - O - N - Y-->
<main>
    <div class="container">
        <div class="row">

            <!-- SEKCJA KAFELKÓW -->
            <div class="col s12 m6 l9">
                <div class="row">

                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img src="../static/images/policy.png" th:src="@{/images/policy.jpg}" alt="POLISA UBEZPIECZENIOWA">
                            </div>
                            <div class="card-action">
                                <a href="/policies" th:href="@{/policies}">POLISY</a>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img src="../static/images/claims.png" th:src="@{/images/claims.jpg}" alt="SZKODA UBEZPIECZENIOWA">
                            </div>
                            <div class="card-action">
                                <a href="/claims" th:href="@{/claims}">SZKODY</a>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img src="../static/images/products.png" th:src="@{/images/products.jpg}" alt="PRODUKTY UBEZPIECZENIOWE">
                            </div>
                            <div class="card-action">
                                <a href="/products" th:href="@{/products}">PRODUKTY</a>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img src="../static/images/clients.png" th:src="@{/images/clients.jpg}" alt="KLIENT">
                            </div>
                            <div class="card-action">
                                <a href="/clients" th:href="@{/clients}">Klient</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- SEKCJA SKRÓTY PODSUMOWANIA -->
            <div class="col s12 m6 l3">
                <div class="card teal darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Podsumowanie:</span>
                        <p>Liczba aktywnych polis: 1200</p>
                        <p>Liczba zgłoszonych szkód: 300</p>
                        <p>Liczba wypłaconych szkód: 250</p>
                        <p>Szkody z bliskim terminem: 250</p>
                        <p>Szkody z bliskim terminem: 250</p>
                    </div>
                    <div class="card-action">
                        <a href="/claims" th:href="@{/claims}">SZKODY</a>
                        <a href="/policies" th:href="@{/policies}">POLISY</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

<!-- - - - - - - - - S - T - O - P - K - A - - - - - - - - - - -->
<footer th:replace="~{fragments :: footer}"></footer>

<!-- - - P - Ł - Y - W - A - J - Ą - C - Y  -  - P - R - Z - Y - C - I - S - K - - -->
<div th:replace="~{fragments :: floating_btn}"></div>

<!-- - - - - - - - - S - K - R - Y - P - T - Y - - - - - - - - -->
<div th:replace="~{fragments :: script_js}"></div>

</body>
</html>