<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<!-- - - - - - - - - - - H - E - A - D - - - - - - - - - - - - -->
<head th:replace="~{fragments :: head}">

    <style>
        .material-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 18px;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .material-table thead tr {
            background-color: #009688;
            color: #ffffff;
            text-align: left;
        }

        .material-table th,
        .material-table td {
            padding: 12px 15px;
        }

        .material-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .material-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .material-table tbody tr:last-of-type {
            border-bottom: 2px solid #009688;
        }
    </style>

</head>
<body>
<!-- - - - - - - - - - - M - E - N - U - - - - - - - - - - - - -->
<header th:replace="~{fragments :: header}"></header>
<!-- - - - W - Y - S - Z - U - K - I - W - A - R - K - A - - - -->
<nav th:replace="~{fragments :: search}"></nav>
<br><br>

<!--Z - A - W - A - R - T - O - Ś - Ć - - S - T - R - O - N - Y-->
<main>
    <section class="container">
        <!-- WELCOME MESSAGE UŻYTKOWNIK APLIKACJI -->
        <div class="row">
                <h5><span class="teal-text text-lighten-2">Witaj </span><span class="grey-text text-lighten-1">Operator Szkód</span></h5>
        </div>

        <div class="row">
            <!-- SEKCJA KAFELKÓW -->
            <section class="col s12 m6 l9">
                <div class="row">
                    <!-- POLISY -->
                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img src="../static/images/policy.png" th:src="@{/images/policy.jpg}" alt="POLISA UBEZPIECZENIOWA">
                            </div>
                            <div class="card-action">
                                <a href="/policies" th:href="@{/policies}">POLISY</a>
                            </div>
                        </div>
                    </div>

                    <!-- SZKODY -->
                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img src="../static/images/claims.png" th:src="@{/images/claims.jpg}" alt="SZKODA UBEZPIECZENIOWA">
                            </div>
                            <div class="card-action">
                                <a href="/claims" th:href="@{/claims}">SZKODY</a>
                            </div>
                        </div>
                    </div>

                    <!-- PRODUKTY -->
                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img src="../static/images/products.png" th:src="@{/images/products.jpg}" alt="PRODUKTY UBEZPIECZENIOWE">
                            </div>
                            <div class="card-action">
                                <a href="/products" th:href="@{/products}">PRODUKTY</a>
                            </div>
                        </div>
                    </div>

                    <!-- KLIENT -->
                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img src="../static/images/clients.png" th:src="@{/images/clients.jpg}" alt="KLIENT">
                            </div>
                            <div class="card-action">
                                <a href="/clients" th:href="@{/clients}">KLIENT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- PODSUMOWANIE -->
            <section class="col s12 m6 l2">
                <div class="row">
                        <table class="material-table">
                            <thead>
                            <tr>
                                <th>Podsumowanie:</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Polisy ogółem:</td>
                                <td><span th:text="${policyCounter}"></span></td>
                            </tr>
                            <tr>
                                <td>Szkody ogółem:</td>
                                <td><span th:text="${claimsCounter}"></span></td>
                            </tr>
                            <tr>
                                <td>Szkody zamkinięte:</td>
                                <td><span th:text="${closedClaimsCounter}"></span></td>
                            </tr>
                            <tr>
                                <td>Szkody wypłacone:</td>
                                <td><span th:text="${paidClaimsCounter}"></span></td>
                            </tr>
                            <tr>
                                <td>Szkody w dniu dzisiejszym</td>
                                <td><span th:text="${todayClaimsCount}"></span></td>
                            </tr>
                            </tbody>
                        </table>
                </div>
            </section>
        </div>
    </section>
</main>


<!-- - - - - - - - - S - T - O - P - K - A - - - - - - - - - - -->
<footer th:replace="~{fragments :: footer}"></footer>

<!-- - - P - Ł - Y - W - A - J - Ą - C - Y  -  - P - R - Z - Y - C - I - S - K - - -->
<div th:replace="~{fragments :: floating_btn}"></div>

<!-- - - - - - - - - S - K - R - Y - P - T - Y - - - - - - - - -->
<div th:replace="~{fragments :: script_js}"></div>

</body>
</html>