<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<!-- - - - - - - - - - - H - E - A - D - - - - - - - - - - - - -->
<head th:replace="~{fragments :: head}"></head>
<body>
<!-- - - - - - - - - - - M - E - N - U - - - - - - - - - - - - -->
<header th:replace="~{fragments :: header}"></header>
<!-- - - - W - Y - S - Z - U - K - I - W - A - R - K - A - - - -->
<nav th:replace="~{fragments :: search}"></nav>
<br><br>

<!--Z - A - W - A - R - T - O - Ś - Ć - - S - T - R - O - N - Y-->
<main>

    <div class="container">
        <div class="row">
            <!-- Sekcja kafelków -->
            <div class="col s12 m6 l9">
                <div class="row">
                    <h5>Lista polis</h5>
                    <div class="collection">
                        <a href="#!" class="collection-item"><span class="badge">1</span>Alan</a>
                        <a href="#!" class="collection-item"><span class="new badge">4</span>Alan</a>
                        <a href="#!" class="collection-item">Alan</a>
                        <a href="#!" class="collection-item"><span class="badge">14</span>Alan</a>
                    </div>
                </div>
            </div>


            <!-- Sekcja podsumowania -->
            <div class="col s12 m6 l3">
                <div class="card grey lighten-5">
                    <div class="card-content white-text">
                        <span class="card-title">Podsumowanie:</span>
                        <p>Liczba aktywnych polis: 1200</p>
                        <p>Liczba zgłoszonych szkód: 300</p>
                        <p>Liczba wypłaconych szkód: 250</p>
                        <p>Szkody z bliskim terminem: 250</p>
                        <p>Szkody z bliskim terminem: 250</p>
                    </div>
                    <div class="card-action">
                        <button class="btn waves-effect red" type="button" onclick="window.location.href='/policy'">Wprowadź ręcznie polise
                            <i class="material-icons right">send</i>
                        </button>
                        <p></p>
                      <button class="btn waves-effect blue" type="button" onclick="window.location.href='/import'">Zaimportuj polisy z pliku
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<!-- - - - - - - - - S - T - O - P - K - A - - - - - - - - - - -->
<footer th:replace="~{fragments :: footer}"></footer>

<!-- - - P - Ł - Y - W - A - J - Ą - C - Y  -  - P - R - Z - Y - C - I - S - K - - -->
<div th:replace="~{fragments :: floating_btn}"></div>

<!-- - - - - - - - - S - K - R - Y - P - T - Y - - - - - - - - -->
<div th:replace="~{fragments :: script_js}"></div>

</body>
</html>