<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<!-- - - - - - - - - - - H - E - A - D - - - - - - - - - - - - -->
<head th:replace="~{fragments :: head}">

</head>
<body>

<!-- - - - - - - - - - - M - E - N - U - - - - - - - - - - - - -->
<header th:replace="~{fragments :: header}">

</header>
<!-- - - - W - Y - S - Z - U - K - I - W - A - R - K - A - - - -->
<nav th:replace="~{fragments :: search}"></nav>
<br><br>

<!--Z - A - W - A - R - T - O - Ś - Ć - - S - T - R - O - N - Y-->

<main>

    <!--======================================================-->
    <!-- - - - - - - - - K - A - R - T - Y - - - - - - - -  - -->
    <!--======================================================-->

    <div class="row">

        <!-- - - - - - Z - A - K - Ł - A - D - K - I  - - - - -->
        <div class="col s12">
            <ul class="tabs tabs-fixed-width">
                <li class="tab col s3"><a class="active" href="#tab1">POLISA</a></li>
                <li class="tab col s3"><a href="#tab2">SZKODY</a></li>
                <li class="tab col s3"><a href="#tab3">DOKUMNETY</a></li>
            </ul>
        </div>


        <!--======================================================-->
        <!-- - - - - - - - K - A - R - T - A - 1 - - - - - - -  - -->
        <!-- - - - - - - - P - O - L - I - S - A - - - - - - -  - -->
        <!--======================================================-->

        <div id="tab1" class="col s12">

            <BR>
            <!--Sekcja wyszukiwania klienta po PESEL -->
            <section th:if="${policy.client == null}" class="container card-panel grey lighten-5">

                <form id="peselSearchForm">
                    <div class="row">
                        <div class="input-field col s12 m6 l3">
                            <i class="material-icons prefix">badge</i>
                            <label for="peselSearch">WYSZUKAJ PO PESEL</label>
                            <input type="text" id="peselSearch" name="pesel" class="validate" pattern="^\d{11}$"
                                   data-length="11">
                            <span class="helper-text" data-error="PESEL musi mieć dokładnie 11 cyfr"></span>
                        </div>
                        <div class="input-field col s12 m6 l3">
                            <button class="btn waves-effect waves-light" type="submit">Szukaj</button>
                        </div>
                        <div id="messageContainer" class="card-panel red lighten-4" style="display: none;">
                            <span id="messageText" class="red-text text-darken-4"></span>
                        </div>
                    </div>
                </form>

            </section>

            <form th:action="@{/policy}" th:object="${policy}" method="post">
                <!--===========================================================-->
                <!-- - - - - D - A - N - E - - K - L - I - E - N - T - A - - - -->
                <!--===========================================================-->
                <section th:replace="~{policy_client_fragments :: policy_client_data}"></section>
                <BR>
                <!--===========================================================-->
                <!-- - - - -  D - A - N - E - - P - O - L - I - S - Y -  - - - -->
                <!--===========================================================-->
                <section th:replace="~{policy_data_fragments :: policy_data}"></section>
                <BR>
                <section th:if="${policy.client == null}" class="container card-panel grey lighten-5">
                    <button class="btn waves-effect waves-light" type="submit">ZAPISZ NOWĄ POLISĘ</button>
                </section>
                <section th:if="${policy.client != null}" class="container card-panel grey lighten-5">
                    <button class="btn waves-effect waves-light" type="submit">ZAKTUALIZUJ DANE POLISY</button>
                </section>
            </form>
            <BR>
        </div>


        <!--======================================================-->
        <!-- - - - - - - - K - A - R - T - A - 2 - - - - - - -  - -->
        <!-- - - - - - - - S - Z - K - O - D- Y - - - - - - - - - -->
        <!--======================================================-->

        <div id="tab2" class="col s12">
            x
        </div>

        <!--======================================================-->
        <!-- - - - - - - - K - A - R - T - A - 3 - - - - - - -  - -->
        <!--- - - - - D - O - K - U - M - E - N - T - Y - - - - - -->
        <!--======================================================-->
        <div id="tab3" class="col s12">
            x
        </div>


    </div>

    </div>
    </div>
    </div>
</main>

<!-- - - - - - - - - S - T - O - P - K - A - - - - - - - - - - -->
<footer th:replace="~{fragments :: footer}"></footer>

<!-- - - P - Ł - Y - W - A - J - Ą - C - Y  -  - P - R - Z - Y - C - I - S - K - - -->
<div th:replace="~{fragments :: floating_btn}"></div>

<!-- - - - - - - - - S - K - R - Y - P - T - Y - - - - - - - - -->
<div th:replace="~{fragments :: script_js}"></div>


</body>
</html>