<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bezpieczna przyszłość</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
</head>
<body>

<!-- PASEK MENU -->
<header>

    <!-- NAWIGACJA -->
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo logo">
                <img src="/images/logo.png" alt="Logo"
                     style="height: 50px; vertical-align: middle; margin: 0 0 10px 10px">
                Bezpieczna przyszłość
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/policy">POLISY</a></li>
                <li><a href="/claims">SZKODY<span class="new badge">4</span></a></li>
                <li><a href="/products">PRODUKTY</a></li>
                <li><a href="/clients">KLIENT</a></li>
                <li><a href="/login">ZALOGUJ SIĘ</a></li>
            </ul>
        </div>
    </nav>

    <!-- NAWIGACJA - WIDOK MOBILNY-->
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/policy">POLISY</a></li>
        <li><a href="/claims">SZKODY</a></li>
        <li><a href="/products">PRODUKTY</a></li>
        <li><a href="/clients">KLIENT</a></li>
        <li><a href="/login">ZALOGUJ SIĘ</a></li>
    </ul>

</header>

<!-- WYSZUKIWARKA -->
<nav>
    <div class="nav-wrapper teal darken-1">
        <form>
            <div class="input-field">
                <input id="search" type="search" required
                       placeholder="Wyszukaj po numerze polisy, szkody lub po numerze PESEL klienta">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>
<div><br><br></div>

<!-- ZAWARTOŚĆ STRONY -->
<div class="container">
    <div class="row">
        <h6>PRODUKTY UBEZPIECZENIOWE</h6>
    </div>
</div>

<div class="container">
    <div class="row">

        <!-- SEKCJA KAFELKÓW -->
        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><i class="material-icons">home</i>BEZPIECZNY DOM</div>
                <div class="collapsible-body">
            <span>
              Ubezpieczenie domu lub mieszkania zapewnia kompleksową ochronę Twojej nieruchomości
              przed różnymi ryzykami, takimi jak pożar, powódź, włamanie czy uszkodzenia spowodowane przez wichury.
              Polisa obejmuje zarówno mury i stałe elementy budynku, jak i wyposażenie wnętrza,
              w tym meble, sprzęt RTV i AGD, a także cenne przedmioty osobiste.
            </span>
                    <p>
                    <div class="chip">
                        <i class="material-icons">flood</i>
                        ZALANIE
                    </div>
                    <div class="chip">
                        <i class="material-icons">fire_truck</i>
                        POŻAR
                    </div>
                    <div class="chip">
                        <i class="material-icons">sign_language</i>
                        KRADZIEŻ
                    </div>
                    <div class="chip">
                        <i class="material-icons">storm</i>
                        WICHURY
                    </div>
                    <div class="chip">
                        <i class="material-icons">wb_shade</i>
                        ZNISZCZENIA MURÓW
                    </div>
                    <div class="chip">
                        <i class="material-icons">kitchen</i>
                        ZNISZCZENIA AGD
                    </div>
                    <div class="chip">
                        <i class="material-icons">electric_bolt</i>
                        PRZEPIĘCIA
                    </div>
                    </p>
                    <BR>
                    <span class="material-icons">picture_as_pdf</span> <a href="/products">OGÓLNE WARUNKI UMOWY</a>
                    <BR>
                    <span class="material-icons">picture_as_pdf</span> <a href="/products">KARTA PRODUKTU</a>
                </div>
            </li>

            <li>
                <div class="collapsible-header"><i class="material-icons">settings_applications</i>BEZPIECZNE MASZYNY
                </div>
                <div class="collapsible-body">
            <span>
              Ubezpieczenie maszyn firmowych zapewnia ochronę przed nagłymi i nieprzewidzianymi zdarzeniami,
              które mogą prowadzić do uszkodzenia, zniszczenia lub utraty maszyn i urządzeń wykorzystywanych
              w działalności gospodarczej. Polisa obejmuje szkody powstałe w wyniku błędów projektowych,
              wadliwego wykonania, błędów montażowych, awarii mechanicznych, a także zdarzeń losowych,
              takich jak pożar, powódź czy kradzież..</span>
                    <p>
                    <div class="chip">
                        <i class="material-icons">flood</i>
                        ZALANIE
                    </div>
                    <div class="chip">
                        <i class="material-icons">fire_truck</i>
                        POŻAR
                    </div>
                    <div class="chip">
                        <i class="material-icons">sign_language</i>
                        KRADZIEŻ
                    </div>
                    <div class="chip">
                        <i class="material-icons">electric_bolt</i>
                        PRZEPIĘCIA
                    </div>
                    </p>

                    <BR>
                    <span class="material-icons">picture_as_pdf</span> <a href="/products">OGÓLNE WARUNKI UMOWY</a>
                    <BR>
                    <span class="material-icons">picture_as_pdf</span> <a href="/products">KARTA PRODUKTU</a>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">directions_boat</i>BEZPIECZNY_JACHT</div>
                <div class="collapsible-body">
            <span>
              Ubezpieczenie jachtów i łodzi zapewnia kompleksową ochronę Twojej jednostki pływającej przed
              różnymi ryzykami, takimi jak kolizje, pożar, kradzież czy uszkodzenia spowodowane przez czynniki
              atmosferyczne. Polisa obejmuje zarówno ubezpieczenie casco, które pokrywa koszty naprawy lub
              wymiany łodzi w przypadku jej uszkodzenia lub utraty, jak i ubezpieczenie OC, które chroni
              przed odpowiedzialnością cywilną za szkody wyrządzone innym osobom. Dodatkowo, ubezpieczenie
              może obejmować pomoc assistance, zapewniając holowanie, pomoc techniczną oraz wsparcie
              w razie awarii na wodzie
            </span>

                    <p>
                    <div class="chip">
                        <i class="material-icons">flood</i>
                        ZALANIE
                    </div>
                    <div class="chip">
                        <i class="material-icons">fire_truck</i>
                        POŻAR
                    </div>
                    <div class="chip">
                        <i class="material-icons">sign_language</i>
                        KRADZIEŻ
                    </div>
                    <div class="chip">
                        <i class="material-icons">mood_bad</i>
                        WANDALIZM
                    </div>
                    <div class="chip">
                        <i class="material-icons">electric_bolt</i>
                        PRZEPIĘCIA
                    </div>
                    </p>

                    <BR>
                    <span class="material-icons">picture_as_pdf</span> <a href="/products">OGÓLNE WARUNKI UMOWY</a>
                    <BR>
                    <span class="material-icons">picture_as_pdf</span> <a href="/products">KARTA PRODUKTU</a>

                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">person_celebrate</i>BEZPIECZNA PRZYSZŁOŚĆ
                </div>
                <div class="collapsible-body">
            <span>
              Ubezpieczenie odpowiedzialności cywilnej (OC) w życiu prywatnym zapewnia ochronę przed finansowymi skutkami
              szkód wyrządzonych osobom trzecim lub ich mieniu. Polisa obejmuje sytuacje, w których Ty lub
              członkowie Twojej rodziny nieumyślnie spowodujecie szkody, takie jak zalanie mieszkania
              sąsiada, wybicie szyby czy uszkodzenie mienia podczas codziennych czynności.
              Ubezpieczenie to pokrywa koszty naprawy szkód, co pozwala uniknąć nieprzewidzianych wydatków
              i zapewnia spokój ducha.
            </span>
                    <p>
                    <div class="chip">
                        <i class="material-icons">flood</i>
                        ZALANIE
                    </div>
                    <div class="chip">
                        <i class="material-icons">fire_truck</i>
                        POŻAR
                    </div>
                    <div class="chip">
                        <i class="material-icons">engineering</i>
                        USZKODZENIE MIENIA
                    </div>
                    <div class="chip">
                        <i class="material-icons">window</i>
                        USZKODZENIE SZYB
                    </div>
                    <BR>
                    <BR>
                    <span class="material-icons">picture_as_pdf</span> <a href="/products">OGÓLNE WARUNKI UMOWY</a>
                    <BR>
                    <span class="material-icons">picture_as_pdf</span> <a href="/products">KARTA PRODUKTU</a>
                </div>
            </li>
        </ul>


    </div>
</div>

<footer>
  <p>&copy; 2024 Bezpieczna Przyszłość. Arkadiusz Borkowski. Prosty projekt systemu zawierania ubezpieczeń i rejestracji szkód. Wszelkie
    prawa zastrzeżone.</p>
</footer>

<!-- SZYBKI DOSTĘP - SKRÓTY -->
<div class="fixed-action-btn" style="bottom: 100px; right: 24px;">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
        <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
</div>

<!-- SEKCJA PREZETNACJA DANYCH by https://materializecss.com/collapsible.html -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems);
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- SEKCJA NAWIGACJI by https://materializecss.com/navbar.html -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });
</script>

<!-- SEKCJA SZYBKI DOSTĘP by https://materializecss.com/floating-action-button.html -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, {
            direction: 'left',
            hoverEnabled: false
        });
    });
</script>


</body>
</html>