<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments :: head}"></head>
<body>

<!-- PASEK MENU -->
<header th:replace="~{fragments :: header}"></header>

<!-- WYSZUKIWARKA -->
<nav th:replace="~{fragments :: search}"></nav>
<div><br><br></div>

<!-- MAPOWANIE NA LISTE PRODUKTÓW - automatyczne generowanie listy produktów, opisów, powiązanych ryzyk + ikony-->
<div th:replace="~{product_fragments :: products_list}"></div>

<!-- STOPKA STRONY -->
<footer th:replace="~{fragments :: footer}"></footer>

<!-- SZYBKI DOSTĘP - SKRÓTY -->
<div th:replace="~{fragments :: floating_btn}"></div>

<!-- - - - - - - - - S - K - R - Y - P - T - Y - - - - - - - - -->
<div th:replace="~{fragments :: script_js}"></div>

</body>
</html>