<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments :: head}"></head>
<body>

<!-- PASEK MENU -->
<header th:replace="~{fragments :: header}"></header>

<!-- WYSZUKIWARKA -->
<nav th:replace="~{fragments :: search}"></nav>
<div><br><br></div>

<!-- MAPOWANIE NA LISTE PRODUKTÓW - automatyczne generowanie listy produktów, opisów, powiązanych ryzyk + ikony-->
<div th:replace="~{product_fragments :: products_list}"></div>

<!-- STOPKA STRONY -->
<footer th:replace="~{fragments :: footer}"></footer>

<!-- SZYBKI DOSTĘP - SKRÓTY -->
<div th:replace="~{fragments :: floating_btn}"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- SEKCJA PREZETNACJA DANYCH by https://materializecss.com/collapsible.html -->
<script th:replace="~{fragments :: script_data_collapsible}"></script>

<!-- SEKCJA NAWIGACJI by https://materializecss.com/navbar.html -->
<script th:replace="~{fragments :: script_nav}"></script>

<!-- SEKCJA SZYBKI DOSTĘP (prawy dolny róg) by https://materializecss.com/floating-action-button.html -->
<script th:replace="~{fragments :: script_quick_access_btn}"></script>

</body>
</html>