<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>


<!--===========================================================-->
<!-- - - - -  D - A - N - E - - P - O - L - I - S - Y -  - - - -->
<!--===========================================================-->

<section class="container card-panel grey lighten-5" th:fragment="policy_data">

  <span th:if="${policy.policyStatus != null}" class="flow-text grey-text text-darken-2" th:text="'DANE POLISY: ' + ${policy.policyStatus}"></span>
  <span th:if="${policy.policyStatus == null}" class="flow-text grey-text text-darken-2">DANE POLISY: NOWA</span>

  <!-- ============= L - I - N - I - A - 1 ============= - -->
  <div class="row">

    <!--informacyjne pole -->
    <input type="hidden" id="policyId" name="policyId" th:value="${policy != null ? policy.id : ''}"/>

    <!-- - N - U - M - E - R - - P - O - L - I - S - Y - -->
    <div class="input-field col s12 m6 l3">
      <i class="material-icons prefix">newspaper</i>
      <label for="policyNumber">NUMER POLISY</label>
      <input type="text" id="policyNumber" name="policyNumber" required class="validate"
             data-length="13" th:value="${policy != null ? policy.policyNumber : ''}"
             th:disabled="${policy != null && policy.policyNumber != null}">
    </div>
    <!-- D - A - T - A - - Z - A - W - A - R - C - I - A -->
    <div class="input-field col s12 m6 l3">
      <i class="material-icons prefix">calendar_month</i>
      <label for="startDate">DATA ZAWARCIA</label>
      <input type="text" id="startDate" name="startDate" required class="datepicker validate"
             th:value="${policy != null ? policy.startDate : ''}"
             th:disabled="${policy != null && policy.startDate != null}">
    </div>
    <!-- - - - D - A - T - A - - K - O - Ń - C - A - - - -->
    <div class="input-field col s12 m6 l3">
      <i class="material-icons prefix">event_repeat</i>
      <label for="endDate">DATA WYGAŚNIĘCIA</label>
      <input type="text" id="endDate" name="endDate" required class="datepicker validate"
             th:value="${policy != null ? policy.endDate : ''}"
             th:disabled="${policy != null && policy.endDate != null}">
    </div>

    <!-- - - - - - P - R - O - D - U - K - T - - - - - -->
    <div class="label-select col s12 m6 l3">
      <label for="insuranceProduct">PRODUKT UBEZPIECZENIOWY</label>
      <select id="insuranceProduct" name="insuranceProduct" required th:disabled="${policy.insuranceProduct != null}">
        <option value="" disabled selected>PRODUKT UBEZPIECZENIOWY</option>
        <option th:each="product : ${products}" th:value="${product.id}"
                th:text="${product.productName}"
                th:selected="${product.id == (policy.insuranceProduct != null ? policy.insuranceProduct.id : -1)}">
        </option>
      </select>
    </div>


  </div>
  <!-- ==== KONIEC:  L - I - N - I - A - 1 ============= - -->

  <!-- ============= L - I - N - I - A - 2 ============= - -->
  <div class="row">

    <!-- S - K - Ł - A - D - K - A - - P -O - L - I - S - Y -->
    <div class="input-field col s12 m6 l3">
      <i class="material-icons prefix">payments</i>
      <label for="premium">SKŁADKA POLISY</label>
      <input type="text" id="premium" name="premium" required class="validate"
             pattern="^\d+(\.\d{1,2})?$" th:value="${policy != null ? policy.premium : ''}"
             th:disabled="${policy != null && policy.premium != null}">
      <span class="helper-text" data-error="Wprowadź poprawną kwotę (np. 123.45)"></span>
      <span id="premium-currency-label" class="currency-label">zł</span>
    </div>
    <!-- S - U - M - A - - U - B - E - Z - P - I - E - C - Z - E - N - I - A -->
    <div class="input-field col s12 m6 l3">
      <i class="material-icons prefix">paid</i>
      <label for="coverageAmount">SUMA UBEZPIECZENIA</label>
      <input type="text" id="coverageAmount" name="coverageAmount" required class="validate"
             pattern="^\d+(\.\d{1,2})?$" th:value="${policy != null ? policy.coverageAmount : ''}"
             th:disabled="${policy != null && policy.coverageAmount != null}">
      <span class="helper-text" data-error="Wprowadź poprawną kwotę (np. 123.45)"></span>
      <span id="coverageAmount-currency-label" class="currency-label">zł</span>
    </div>
    <!-- - - - - - - - - - - R - E - Z - E - R - W - A - - - - - - - - - - -->
    <div class="input-field col s12 m6 l3">
      <i class="material-icons prefix">savings</i>
      <label for="reserveAmount">REZERWA UBEZPIECZENIOWA</label>
      <input type="text" id="reserveAmount" name="reserveAmount" required class="validate"
             pattern="^\d+(\.\d{1,2})?$" th:value="${policy != null ? policy.reserveAmount : ''}"
             th:disabled="${policy != null && policy.reserveAmount != null}">
      <span class="helper-text" data-error="Wprowadź poprawną kwotę (np. 123.45)"></span>
      <span id="reserveAmount-currency-label" class="currency-label">zł</span>
    </div>

    <!-- - - - - L - I - C - Z - N - I - K - - R - Y - Z - Y - K - - - - -->
   <div class="input-field col s12 m6 l3">
     <i class="material-icons prefix">personal_injury</i>
     <label for="riskCounter">LICZBA RYZYK</label>
     <input type="text" id="riskCounter" name="riskCounter"
            th:value="${policy.insuranceProduct != null && policy.insuranceProduct.risks != null ? policy.insuranceProduct.risks.size() : 0}"
            readonly
            th:disabled="${policy != null && policy.reserveAmount != null}">
   </div>

 </div>
 <!-- ==== KONIEC:  L - I - N - I - A - 2 ============= - -->

  <!-- ======== L - I - N - I - A - 3 : RYZYKA ========= - -->
  <!-- - - - - L - I - S - T - A - - R - Y - Z - Y - K - - - --->
 <div class="row">
    <p class="grey-text text-darken-2">
      <b>&nbsp;&nbsp;&nbsp;&nbsp;Ryzyka:</b>
    </p>
    <div id="riskList">
      <div th:if="${policy.insuranceProduct != null and policy.insuranceProduct.risks != null}">
        <div class="chip" th:each="risk : ${policy.insuranceProduct.risks}">
          <i class="material-icons">
            <span th:text="${risk.iconName}">flood</span>
          </i>
          <span th:text="${risk.riskName}">ZALANIE</span>
        </div>
      </div>
    </div>
  </div>
  <!-- KONIEC: L - I - N - I - A - 3 : RYZYKA ========= - -->

</section>




</body>
</html>