<!DOCTYPE html>
<html lang="pl" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section class="container card-panel grey lighten-5" th:fragment="policy_documents_data">


    <div class="row">
        <div class="col s8">
            <iframe id="templateFrame" class="iframe-container"></iframe>
        </div>
        <div class="col s4">
         <!--   <h2>Wybierz dokument:</h2>
            <ul>
                <li th:each="templateName : ${templateNames}">
                    <a href="#" th:text="${templateName}" th:data-templateName="${templateName}" onclick="loadTemplate(this)"></a>
                </li>
            </ul>
            <button onclick="downloadPdf()">Pobierz PDF</button>-->

            <table class="highlight responsive-table">
                <h2>Wybierz dokument:</h2>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nazwa dokumentu:</th>
                    <th>Akcja</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="templateName, status : ${templateNames}" style="cursor: pointer">
                    <td th:text="${status.count}"></td>
                    <td> <a href="#" th:text="${templateName}" th:data-templateName="${templateName}" onclick="loadTemplate(this)"></a></td>
                    <td>ZAPISZ PDF</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>




    <script>
        function loadTemplate(element) {
            var templateName = element.getAttribute('data-templateName');
            document.getElementById('templateFrame').src = '/templates/policy_documents/' + templateName + '?policyId=' + document.getElementById('policyId').value;
        }
    </script>


</section>


</body>
</html>