.nav-wrapper {
    background-color: white;
}
.nav-wrapper a {
    color: black;
    font-weight: bold;
}

nav .brand-logo {
    position: relative;
    display: contents;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1680px;
    width: 90%;
}

.carousel {
    height: 1400px;
}

.container:last-of-type {
    margin-bottom: 100px; /* Dodaje margines dolny, aby stopka nie zasłaniała zawartości */
}

@media only screen and (min-width: 601px) {
    .container {
        width:85%
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 90%;
    }
}

.dropdown-content {
    width: auto !important;
}

.currency-label {
    position: absolute;
    font-size: x-large;
    right: 15px;
    top: 30%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #9e9e9e; /* Kolor tekstu */
}

footer {
    background-color: #00897b;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.label-select {
    margin-top: -7PX;
}

tr.clickable-row {
    cursor: pointer;
}


