.nav-wrapper {
    background-color: white;
}
.nav-wrapper a {
    color: black;
    font-weight: bold;
}

nav .brand-logo {
    position: relative;
    display: contents;
}


body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1680px;
    width: 90%;
}

.carousel {
    height: 100vh;
    overflow: scroll;
}

.container:last-of-type {
    margin-bottom: 100px; /* Dodaje margines dolny, aby stopka nie zasłaniała zawartości */
}

@media only screen and (min-width: 601px) {
    .container {
        width:85%
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 90%;
    }
}

.dropdown-content {
    width: auto !important;
}

.currency-label {
    position: absolute;
    font-size: x-large;
    right: 15px;
    top: 30%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #9e9e9e; /* Kolor tekstu */
}

footer {
    background-color: #00897b;
    color: white;
    text-align: center;
    /*padding: 10px 0;*/
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; /*dodane do testów */
}


.label-select {
    margin-top: -7PX;
}

tr.clickable-row {
    cursor: pointer;
}

/* STYL TABELI */
.material-table {
    border-collapse: collapse;
    margin: 8px 0 0 15px;
    font-size: 18px;
    min-width: 330px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.material-table thead tr {
    background-color: #009688;
    color: #ffffff;
    text-align: left;
}
.material-table th,
.material-table td {
    padding: 12px 15px;
}
.material-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.material-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.material-table tbody tr:last-of-type {
    border-bottom: 2px solid #009688;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input[type=text]:not(.browser-default):disabled {
    color: black; !important; /* Kolor tekstu */
}

.hidden-column {
    display: none;
}

span.badge {
    min-width: 3rem;
    padding: 0 6px;
    margin-left: 14px;
    text-align: center;
    font-size: 1rem;
    line-height: 22px;
    height: 22px;
    float: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    background-color: darkred;
}

.iframe-container {
    width: 100%;
    height: 1000px;
    background-color: white;
    border-bottom: 1px solid #000;
}

.steps {
    font-size: 25px;
    color: white;
    display: inline-block;
}

.steps:before {
    content: '\E5CC';
    color: rgba(255, 255, 255, 0.7);
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    margin: 0 10px 0 8px;
    -webkit-font-smoothing: antialiased;
}

.steps:first-child:before {
    display: none
}

.active-step {
    color: white;
}
.inactive-step {
    color: #c94444;
}

.hidden {
    display: none;
}

.next-line {
    margin-bottom: 20px;
}
/* style tekstu */
.label {
    color: #616161; /* Kolor dla "DANE POLISY:" */

}

.value {
    color: #00897b; /* Inny kolor dla wartości po ":" */
}
/* KONIEC STYLI TABELI */

.select-dropdown li.disabled>span {
    color: red;
}

.model {
    height: 500px;
}







